<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%highlight{%level}{STYLE=Logback}]  %highlight{%msg}{FATAL=red, ERROR=red, WARN=yellow, INFO=black, DEBUG=cyan, TRACE=white}%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
